<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Show tickets</title>
</head>
<body>
<div class="container" align = "center">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/profile">
            <div class="font-weight-bold">
                <img src="\images\airline.png" width="32" height="32" class="d-inline-block align-top " alt="">
                Ticket Reservation System</div>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div sec:authorize="isAuthenticated()">
                    Hello <span th:text="${currentUser.getUsername()}"></span></div>
            <li><a th:href="@{/logout}">&nbsp;Log out</a>
            </li>
        </ul>
    </nav>

    <h3>Display tickets</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Capacity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="newTicket : ${ticket}">
            <td th:text="${newTicket.id}"></td>
            <td th:text="${newTicket.capacity}"></td>
        </tbody>
    </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>